<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ZenFlix HD</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">

<!-- OWL CAROUSEL -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />

<!-- BOX ICONS -->

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="css/grid.css">
<link rel="stylesheet" href="css/app.css">

</head>
<body>

<div class="nav-wrapper">
<div class="container">
<div class="nav">
<a href="#" class="logo">
<i class='bx bx-movie-play bx-tada main-color'></i>Zen<span class="main-color"></span>Flix
</a>
<ul class="nav-menu" id="nav-menu">
<li><a href="#">Home</a></li>
<li><a href="#">Filmes</a></li>
<li><a href="#">Series</a></li>
</ul>
<!-- MOBILE MENU -->
<div class="hamburger-menu" id="hamburger-menu">
<div class="hamburger"></div>
</div>
</div>
</div>
</div>
<!-- END NAV -->

<!-- HERO SECTION -->

<div class="hero-section"

<!-- HERO SLIDE -->

<div class="hero-slide">
<div class="owl-carousel carousel-nav-center" id="hero-carousel">

<!-- SLIDE ITEM -->

<div class="hero-slide-item">
<img src="./img/emoji-o-filme.jpg" alt="">
<div class="overlay"></div>
<div class="hero-slide-item-content">
<div class="item-content-wraper">
<div class="item-content-title top-down">
Emoji O Filme
</div>
<div class="item-content-description top-down delay-4">
Textopolis é a cidade onde os Emojis favoritos dos usuários de smartphones vivem e trabalham. Lá, todos eles vivem em função de um sonho: serem usados nos textos dos humanos. Todos estão acostumados a ter somente uma expressão facial - com exceção de Gene, que nasceu com um bug em seu sistema, que o permite trocar de rosto através de um filtro especial. Determinado à se tornar um emoji normal como todos os outros, eles vai encarar uma jornada fantásticas através dos aplicativos de celular mais populares desta geração - e no meio do caminho, claro, fazer novos amigos.
</div>
<div class="item-action top-down delay-6">
<a href="https://sinalpublico.com/player3/serverf4hlb.php?vid=EMJOFLM" class="btn btn-hover">
<i class="bx bxs-right-arrow"></i>
<span>ASSISTIR</span>
</a>
<br>
<br>
</div>
</div>
</div>
</div>

<!-- END SLIDE ITEM -->

<!-- SLIDE ITEM -->

<div class="hero-slide-item">
<img src="./img/movies/lorax.jpg" alt="">
<div class="overlay"></div>
<div class="hero-slide-item-content">
<div class="item-content-wraper">
<div class="item-content-title top-down">
O Lorax
</div>
<div class="item-content-description top-down delay-4">
O menino Ted (Zac Efron) descobriu que o sonho de sua paixão, a bela Audrey (Taylor Swift), é ver uma árvore de verdade, algo em extinção. Disposto a realizar este desejo, ele embarca numa aventura por uma terra desconhecida, cheia de cor, natureza e árvores. É lá que conhece também o simpático e ao mesmo tempo rabugento Lorax (Danny DeVito), uma criatura curiosa preocupada com o futuro de seu próprio mundo.
</div>
<div class="item-action top-down delay-6">
<a href="https://sinalpublico.com/player3/serverf4hlb.php?vid=EMJOFLM" class="btn btn-hover">
<i class="bx bxs-right-arrow"></i>
<span>ASSISTIR</span>
</a>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>
</div>

<!-- END SLIDE ITEM -->
</div>
</div>
<!-- END HERO SLIDE -->

<!-- TOP MOVIES SLIDE -->
<div class="top-movies-slide">
<div class="owl-carousel" id="top-movies-slide">

<!-- MOVIE ITEM -->

<div class="movie-item">
<img src="./img/movies/meu-amigo-enzo.jpg" alt="">
 <div class="movie-item-content">
<div class="movie-item-title">
Meu Amigo Enzo
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</div>


<div class="movie-item">
<img src="./img/emoji-o-filme.jpg" alt="">
 <div class="movie-item-content">
<div class="movie-item-title">
Emoji O Filme
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</div>

<div class="movie-item">
<img src="./img/movies/lorax.jpg" alt="">
 <div class="movie-item-content">
<div class="movie-item-title">
O Lorax
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</div>

</div>
</div>

<!-- LATEST MOVIES SECTION -->
<div class="section">
<div class="container">
<div class="section-header">
Filmes Resem Botados no Site
</div>
<div class="movies-slide carousel-nav-center owl-carousel">

<!-- MOVIE ITEM -->

<a href="https://sinalpublico.com/player3/serverf4hlb.php?vid=EMJOFLM" class="movie-item">
<img src="./img/emoji-o-filme.jpg" alt="">
<div class="movie-item-content">
<div class="movie-item-title">
Emoji O Filme
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</a>

<a href="https://sinalpublico.com/player3/serverf3hlb.php?vid=MEUAMGENZO" class="movie-item">
<img src="./img/movies/meu-amigo-enzo.jpg" alt="">
<div class="movie-item-content">
<div class="movie-item-title">
Meu Amigo Enzo
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</a>

<a href="https://sinalpublico.com/player3/serverf4hlb.php?vid=OLORXEMBSCDTRFLA" class="movie-item">
<img src="./img/movies/lorax.jpg" alt="">
<div class="movie-item-content">
<div class="movie-item-title">
O Lorax
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</a>

<!-- END MOVIE ITEM -->

</div>
</div>

<!-- SPECIAL MOVIE SECTION -->

<div class="section">
<div class="hero-slide-item">
<img src="./img/emoji-o-filme.jpg" alt="">
<div class="overlay"></div>
<div class="hero-slide-item-content">
<div class="item-content-wraper">
<div class="item-content-title">
Emoji O Filme
</div>
<div class="item-content-description">
Textopolis é a cidade onde os Emojis favoritos dos usuários de smartphones vivem e trabalham. Lá, todos eles vivem em função de um sonho: serem usados nos textos dos humanos. Todos estão acostumados a ter somente uma expressão facial - com exceção de Gene, que nasceu com um bug em seu sistema, que o permite trocar de rosto através de um filtro especial. Determinado à se tornar um emoji normal como todos os outros, eles vai encarar uma jornada fantásticas através dos aplicativos de celular mais populares desta geração - e no meio do caminho, claro, fazer novos amigos.
</div>
<div class="item-action">
<a href="https://sinalpublico.com/player3/serverf4hlb.php?vid=EMJOFLM" class="btn btn-hover">
<i class="bx bxs-right-arrow"></i>
<span>ASSISTIR</span>
</a>
</div>
</div>
</div>
</div>
</div>

<!-- END SPECIAL MOVIE SECTION -->

<!-- PRICING SECTION -->

<div class="section">
<div class="container">
<div class="pricing">
<div class="pricing-header">Zen<span class="main-color"></span>Flix
</div>
<div class="pricing-list">
<div class="row">
</div>
</div>
</div>
</div>
</div>

<!-- END PRICING SECTION -->

<!-- FOOTER SECTION -->

<footer class="section">
<div class="container">
<div class="row">
<div class="col-4 col-md-6 col-sm-12">
<div class="content">
<a href="#" class="logo">
<i class='bx bx-movie-play bx-tada main-color'></i>Zen<span class="main-color"></span>Flix
</a>
<p> Este Site foi feito Com html e css fasios de ser feito O canal do dono e JG-Bots :) Esse site e de filmes e series gratis pra vc assistir sem pagar desing ta muito bonito e mt diferendo do redecanais o intuito era de deixar mais bonito e mais fasio de usar espero que gostem :) mais infelismente o site so ta na versao pt-br</p>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>
<!-- END FOOTER SECTION -->

<!-- COPYRIGHT SECTION -->

<div class="copyright">
Videos e Series By : RedeCanais <br> Copyright 2022 <a href="https://www.youtube.com/channel/UCnNgtK4tGlWcceXVzoyTg8Q" target="_blank">
JG-Bots</a>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- OWL CAROUSEL -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<!-- APP SCRIPT -->
<script src="css/app.js"></script>
</html>