<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ZenFlix HD</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

<!-- OWL CAROUSEL -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />

<!-- BOX ICONS -->

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="css/grid.css">
<link rel="stylesheet" href="css/app.css">

<style>
.abcde {
}
</style>

</head>
<body>

<div class="nav-wrapper">
<div class="container">
<div class="nav">
<a href="#" class="logo">
<i class='bx bx-movie-play bx-tada main-color'></i>Zen<span class="main-color"></span>Flix
</a>
</div>
</div>
</div>
<!-- END NAV -->

<!-- SPECIAL MOVIE SECTION -->

<div class="hero-slide-item">
<img src="img/footer-bg.jpg" alt="">
<div class="overlay"></div>
<div class="hero-slide-item-content">
<div class="item-content-wraper">
<div class="abcde">
<h1>Olá BemVindo ao Site de Filmes e Series GRATIS !!!! Espero que gostem</h1>
</div>
<div class="item-action">
<a href="api" class="btn btn-hover">
<i class="bx bxs-right-arrow"></i>
<span>!! ENTRAR NO SITE !!</span>
</a>
</div>
</div>
</div>
</div>

<!-- TOP MOVIES SLIDE -->
<div class="top-movies-slide">
<div class="owl-carousel" id="top-movies-slide">

<!-- MOVIE ITEM -->

<div class="movie-item">
<img src="./img/movies/meu-amigo-enzo.jpg" alt="">
 <div class="movie-item-content">
<div class="movie-item-title">
Meu Amigo Enzo
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</div>


<div class="movie-item">
<img src="./img/emoji-o-filme.jpg" alt="">
 <div class="movie-item-content">
<div class="movie-item-title">
Emoji O Filme
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</div>

<div class="movie-item">
<img src="./img/movies/lorax.jpg" alt="">
 <div class="movie-item-content">
<div class="movie-item-title">
O Lorax
</div>
<div class="movie-infos">
<div class="movie-info">
<i class="bx bxs-star"></i>
<span>9.5</span>
</div>
<div class="movie-info">
<i class="bx bxs-time"></i>
<span>120 mins</span>
</div>
<div class="movie-info">
<span>HD</span>
</div>
<div class="movie-info">
<span>16+</span>
</div>
</div>
</div>
</div>

</div>
</div>

<!-- END SPECIAL MOVIE SECTION -->

<!-- COPYRIGHT SECTION -->

<div class="copyright">
<br>
Videos e Series By : RedeCanais <br> Copyright 2022<a href="https://m.youtube.com/channel/UC6Nvd3QgM0j1_ebNF4OC84g" target="_blank">
JG-Bots <br> <br> </a>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- OWL CAROUSEL -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<!-- APP SCRIPT -->
<script src="css/app.js"></script>
</html>