<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="style1.css">

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body onscroll="onScroll()" class="">
  <section id="services">
    <div class="wrapper">
      <header>
        <h2>PLANOS DE APIKEYS</h2>
        <h4>
          Caso não saiba fazer case (comando) com alguma api, recomenda-se o plano premium, somente o plano premium terá
          suporte sobre essa adaptaçao em bots
        </h4>
      </header>
      <div class="cards">
        <div class="card">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path d="M17.091 8.18182L10.091 15.1818L6.90918 12" stroke="#00856F" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <h3>PLANO - ECONOMICO</h3>
          <span>15 R$</span>
          <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Suporte Caso Bugs Na Apikey</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Apikey Aleatoria</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              1.500 requests</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--carbon" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 32 32" data-icon="carbon:close-outline" style="color: red;">
                <path fill="currentColor"
                  d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2zm0 26C9.4 28 4 22.6 4 16S9.4 4 16 4s12 5.4 12 12s-5.4 12-12 12z">
                </path>
                <path fill="currentColor"
                  d="M21.4 23L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z">
                </path>
              </svg>
              Suporte Na Criaçao De Comandos</li>
          </ul>
          <p class="text-center">
            <a href="https://api.whatsapp.com/send?phone=558594034292&amp;text=Ola! Desejo Comprar Uma Apikey Do Seu Site De Apis, Quero Comprar o Plano: ECONOMICO"
              class="btn">Comprar</a>
          </p>
        </div>

        <div class="card">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path d="M17.091 8.18182L10.091 15.1818L6.90918 12" stroke="#00856F" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <h3>PLANO - BASICO</h3>
          <span>20 R$</span>
          <ul class="list-unstyled ul-check success mb-5">
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Suporte Caso Bugs Na Apikey</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Apikey Aleatoria</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              3.000 Requests</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--carbon" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 32 32" data-icon="carbon:close-outline" style="color: red;">
                <path fill="currentColor"
                  d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2zm0 26C9.4 28 4 22.6 4 16S9.4 4 16 4s12 5.4 12 12s-5.4 12-12 12z">
                </path>
                <path fill="currentColor"
                  d="M21.4 23L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z">
                </path>
              </svg>
              Suporte Na Criaçao De Comandos</li>
          </ul>
          <p class="text-center">
            <a href="https://api.whatsapp.com/send?phone=558594034292&amp;text=Ola! Desejo Comprar Uma Apikey Do Seu Site De Apis, Quero Comprar o Plano: BASICO"
              class="btn">Comprar</a>
          </p>
        </div>

        <div class="card">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path d="M17.091 8.18182L10.091 15.1818L6.90918 12" stroke="#00856F" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <h3>PLANO - PREMIUM</h3>
          <div class="meses">
            <span>35 R$</span>
            <p class="meses">/ Por 3 Meses</p>
          </div>
          <ul class="list-unstyled ul-check success mb-5">
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Suporte Caso Bugs Na Apikey</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Apikey Personalizada</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Suporte Na Criaçao De Comandos</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" class="iconify iconify--ic" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24" data-icon="ic:baseline-verified" style="color: lime;">
                <path fill="currentColor"
                  d="m23 12l-2.44-2.79l.34-3.69l-3.61-.82l-1.89-3.2L12 2.96L8.6 1.5L6.71 4.69L3.1 5.5l.34 3.7L1 12l2.44 2.79l-.34 3.7l3.61.82L8.6 22.5l3.4-1.47l3.4 1.46l1.89-3.19l3.61-.82l-.34-3.69L23 12zm-12.91 4.72l-3.8-3.81l1.48-1.48l2.32 2.33l5.85-5.87l1.48 1.48l-7.33 7.35z">
                </path>
              </svg>
              Acesso Por 3 Meses Ilimitado</li>
          </ul>
          <p class="text-center">
            <a href="https://api.whatsapp.com/send?phone=558594034292&amp;text=Ola! Desejo Comprar Uma Apikey Do Seu Site De Apis, Quero Comprar o Plano: PREMIUM"
              class="btn">Comprar</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>